<div align="center"><a href="https://sites.google.com/site/olegalexandrov/polyview/pvLogo.png?attredirects=0" imageanchor="1"><img alt="PolyView logo" src="https://sites.google.com/site/olegalexandrov/polyview/pvLogo.png" border="0"></a></div>
<div align="left">
<br>
<br>
<b>PolyView</b> is a free and open source software program for Linux designed to quickly load and visualize multiple sets of polygon files from the command line. It can zoom and pan, show polygons as edges, points, and filled, display text labels, print the coordinates of vertices and measure distances, change the order in which polygons are displayed, choose which polygons to show, etc.<br>
<br>
PolyView can also do basic polygon editing, such as creating/deleting/moving/rotating/scaling polygons, adding/removing/modifying vertices, as well as cutting polygons to a box.<br>
<br>
PolyView accepts a lengthy list of command line arguments, and the view can be also manipulated interactively from the GUI once the polygons are loaded. A complete list of features and functions is shown below.<br>
<br>
PolyView is implemented in C++ using Qt 4. Its source code is freely available under the MIT license and can be used for any purpose, academic or commercial.

<h2>Documentation</h2>
<h3>Features of PolyView accessible from the GUI</h3>
<h4>Mouse buttons</h4>

<ul><li>The left mouse button snaps to the closest polygon vertex and prints its coordinates. A subsequent click also prints the distance from the previous vertex to the current one.</li>
<li>The middle mouse button prints the coordinates of where the mouse clicked, without snapping to the closest vertex.</li>
<li>Dragging the mouse from lower-left to upper-right zooms in, and doing it in reverse zooms out.</li>
<li>Dragging the mouse while keeping the Control key pressed creates a highlight which can be used to cut the polygons to the highlight or to paste/move/delete them.
</li>
</ul>

<h4>Command box</h4>
<ul><li>Many GUI operations (such as zoom) echo their action as a command in the terminal used to start PolyView. That command can be pasted in the command box at the bottom of the PolyView GUI to reproduce the original operation. This provides a basic level of scripting and reproducibility.</li></ul>
<h4>File menu</h4>

<ul>
<li> Load a polygon file in addition to existing files
</li>
<li> Save the polygons as one file
</li>
<li> Save the polygons as individual files
</li>
<li> Overwrite the existing polygons
</li>

</ul>
<h4>View menu</h4>
<ul>

<li> Choose which files to hide/show
</li>
<li> Zoom and pan
</li>
<li> Reset the view to contain all polygons with a small padding
</li>
<li> Change the order in which the polygons are displayed
</li>
<li> Show/hide annotations (text labels)
</li>
<li> Show the polygons filled with color
</li>
<li> Show the vertices only (no edges)
</li>
<li> Show the index of each vertex
</li>
<li> Show the layer ids (if present) 
</li></ul>
<div>
<h4>Edit menu</h4>
<ul>
<li> Undo and redo
</li>
<li> Create a polygon with integer vertices and edge angles multiple of 45 degrees
</li>
<li> Enforce integer vertices and edge angles multiple of 45 degrees
</li>
<li> Create a polygon with arbitrary angles
</li>

</ul>
<h4>Transform menu
</h4>
<ul>
<li> Translate/rotate/scale the polygons
</li>

</ul>
<h4>Selection menu
</h4>
<ul>
<li> Create a highlight (the polygons in the highlight are automatically selected and copied to a buffer)
</li>
<li> Cut the polygons to the current highlight
</li>
<li> Delete the selected polygons
</li>
<li> Paste the selected polygons
</li>
<li> Move the selected polygons (use Shift-Mouse)
</li>
<li> Deselect all polygons and delete all highlights
</li>
<li>Translate/rotate/scale/transform selected polygons<br>
</li>

</ul>
<h4>Grid menu
</h4>
<ul>
<li> Show/hide the grid
</li>
<li> Enforce that all polygon edges have angles multiple of 45 degrees and snap the vertices to the grid
</li>
<li> Set the grid size
</li>
<li> Set the grid linewidth
</li>
<li> Set the grid color</li>
</ul>

<h4> Diff menu</h4>

<ul>
<li> Change the colors of polygons so that polygons from different files have different colors
</li>
<li> Enter diff mode (a mode in which two similar polygon files can be compared)
</li>
<li> Show the next/previous difference between given two given polygon files (starting with the largest difference)
</li>
</ul>

<h4>Options menu</h4>
<ul>
<li> Set the linewidth of polygon edges
</li>
<li> Set the background color
</li>
</ul>

<h4>Right-click menu</h4>

<ul>
<li> Show and save a mark at the current point
</li>
<li> Use the nm scale when printing the coordinates of vertices 
  (assuming that the polygons are at the dbu scale)
</li>
<li> Create a polygon with integer vertices and edge angles multiple of 45 degrees
</li>
<li> Enforce integer vertices and edge angles multiple of 45 degrees
</li>
<li> Create a polygon with arbitrary angles
</li>
<li> Delete the polygon at mouse cursor
</li>
<li> Enter align mode (a mode in which, given two polygon files, the second polygon file is kept fixed, while the first one can be interactively translated using Shift-Mouse and rotated/flipped from the right-click menu until it aligns to the second one)
</li>
<li> Enter move polygons mode (use Shift-Mouse to move a polygon; if some polygons are selected using a highlight, then all selected polygons will be moved)
</li>
<li> Enter move vertices mode (use Shift-Mouse to move a vertex)
</li>
<li> Enter move edges mode (use Shift-Mouse to move an edge)
</li>
<li> Insert a vertex on the edge closest to the mouse cursor
</li>
<li> Delete the vertex closest to the mouse cursor
</li>
<li> Copy the polygon closest to the mouse cursor
</li>
<li> Paste the polygon closest to the mouse cursor
</li>
<li> Reverse the orientation of the polygon closest to the mouse cursor
</li></ul>

<h3>Features of PolyView accessible from the command line</h3>
PolyView will open simultaneously all polygon files supplied as inputs on the command line. Various command line options can modify how the polygons are displayed.
<br>
<table>
<tbody>
<tr>
<td>-h | -help</td>
<td>Show the available command line options</td>
</tr>
<tr>
<td>-geo[metry] &lt;width&gt;x&lt;height&gt;</td>
<td>The window size in pixels (for example, 800x800)</td>
</tr>
<tr>
<td>-bg | -backgroundColor&lt;color&gt;</td>
<td>Color of the background (the default is black)

</td>
</tr>
<tr>
<td>-c | -color&lt;color&gt;</td>
<td>All polygons after this option will show up in the given color(the default is to use the colors specified in the polygon files)
</td>
</tr>
<tr>
<td>-fs | -fontSize&lt;integer&gt;</td>
<td>The text font size in pixels
</td>
</tr>
<tr>
<td>-lw | -lineWidth&lt;integer&gt;</td>
<td>All polygons after this option will show up with given linewidth
</td>
</tr>
<tr>
<td>-p | -points   </td>
<td>All polygons after this option will show up as vertices rather than edges (a subsequent -p option undoes this behavior)</td>
</tr>
<tr>
<td>-cp | -closedPoly   </td>
<td>All polygons after this option will show up as closed (the last vertex is connected to the first one)</td>
</tr>
<tr>
<td>-nc | -nonClosedPoly   </td>
<td>Interpret the polygons after this option as polygonal lines (the last vertex is not connected to the first one)
</td>
</tr>
<tr>
<td>-f | -filledPoly   </td>
<td>All polygons after this option will show up as filled
</td>
</tr>
<tr>
<td>-nf | -nonFilledPoly   </td>
<td>All polygons after this option will show up as not filled
</td>
</tr>
<tr>
<td>-grid on | off   </td>
<td>Turn on/off the grid display
</td>
</tr>
<tr>
<td>-gridSize&lt;integer&gt;</td>
<td>Grid size
</td>
</tr>
<tr>
<td>-gridWidth&lt;integer&gt;</td>
<td>Grid width in pixels
</td>
</tr>
<tr>
<td>-gridColor&lt;color&gt;</td>
<td>Grid color<br>
<br>
</td>
</tr>
</tbody>
</table>
<b>Author:</b> Oleg Alexandrov &lt;<a href="mailto:oleg.alexandrov@gmail.com">oleg.alexandrov@gmail.com</a>&gt;
</div>
</div>
Updated: October 28, 2011